version: "3.8"

services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always  
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.rootfs=/rootfs"
      - "--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)"
    networks:
      - monitoring
    expose:
      - 9100

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always  
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - monitoring
    expose:
      - 8080

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always  
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - monitoring

  apache-exporter:
    image: bitnami/apache-exporter:latest
    container_name: apache-exporter
    restart: always
    command:
      - '--scrape_uri=http://172.28.0.1:8088/server-status?auto'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "9117:9117"
    networks:
      - monitoring


volumes:
  prometheus-data:

networks:
  monitoring:
    driver: bridge
